html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before,
body::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    opacity: 0.1;
    z-index: 1;
}
body::before {
    background-color: #c7c9d3;
    top: -60px;
    left: -60px;
}
body::after {
    background-color: #b0b3ba;
    bottom: -60px;
    right: -60px;
}
.container {
    width: 90%;
    max-width: 600px;
    height: 90vh;
    padding: 20px;
    background-color: #c4e3cb;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #6b7280;
    font-size: 24px;
    transition: color 0.3s;
    z-index: 3;
    text-decoration: none;
}
.back-icon:hover {
    color: #4b5563;
}
header {
    text-align: center;
    margin-top: 50px;
}
header h2 {
    font-size: 1.8em;
    font-weight: bold;
    color: #3a4f41;
    margin: 0;
    padding-bottom: 5px;
}
.timestamps {
    font-size: 0.85em;
    color: #7a8c85;
    margin: 0;
}
main {
    flex-grow: 1;
    padding: 15px;
    color: #4a6057;
    overflow-y: auto;
    max-height: calc(90vh - 150px);
    text-align: left;
    scrollbar-width: none;
}
main p {
    margin: 0;
}
main::-webkit-scrollbar {
    display: none;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.edit-button, .delete-button {
    color: white;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.edit-button {
    background-color: #8fc1a9;
}
.edit-button:hover {
    background-color: #7da591;
    transform: scale(1.1);
}
.delete-button {
    background-color: rgba(255, 0, 0, 0.8);
}
.delete-button:hover {
    background-color: rgba(255, 0, 0, 1);
    transform: scale(1.1);
}
