body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/background-gradient-green-color-modern-abstract-designs_343694-2100.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #3a4f41;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #c4e3cb;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h1 {
    font-size: 36px;
    margin: 0;
    padding: 20px 0;
    color: #3a4f41;
}
.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.cta-button:hover {
    background-color: #218838;
}